<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.5/dist/base.min.css" />
	<link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.5/dist/components.min.css" />
	<link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.5/dist/utilities.min.css" />
</head>

<body class="text-white bg-red-900 antialiased">
	<nav class="sticky w-full top-0 overflow-x-auto bg-gradient-to-r from-red-900 via-gray-900 to-blue-900" id="top">
		<div class="container mx-auto flex flex-wrap items-center">
			<div class="flex w-full justify-center text-white font-light"><a href="/" class="text-white no-underline hover:text-white hover:no-underline font-light"><span class="text-2xl"><img src="//auth.wgyt.tk/logo.png" height="40" width="48" alt="Wgyt logo" class="h-10 pr-2 inline-block">Wgyt Social </a>Services</span></div>
				</div>
			</div>
	</nav>
	<div class="grid grid-cols-1 shadow-2xl">
		<a href="/chat"><div class="shadow-2xl h-32 w-30 font-light bg-blue-900 text-white rounded-md flex items-center justify-center">chat</div></a>
		<a href="/comments"><div class="shadow-2xl h-32 w-30 font-light bg-blue-900 text-white rounded-md flex items-center justify-center">comments</div></a>
		<a href="/forum"><div class="shadow-2xl h-32 w-30 font-light bg-blue-900 text-white rounded-md flex items-center justify-center">forum</div></a>
	</div>
	</body>
</html>