<script src="https://unpkg.com/vue@next">
</script>

<div class="h-full mx-auto bg-white dark:bg-black w-full" id="blog">
	<br>
		<h1 class="font-bold text-3xl text-black dark:text-white text-center">Blog Posts</h1>
		<h2 class="onesignal-customlink-container font-bold text-3xl text-black dark:text-white text-center"></h2>
		<ul class="grid grid-flow-row-dense mx-auto">
			<li v-for="counter of counter" class="transition-all duration-150 flex px-4 py-6 w-full w-screen">
					<div
						class="flex flex-col items-stretch min-h-full pb-4 mb-6 transition-all duration-150 bg-white rounded-lg shadow-lg hover:shadow-2xl" v-if="counter.data"
					><a :href="'/blog/'+counter.data.url">
						<div class="md:flex-shrink-0">
							<img
								:src="counter.data.image"
								class="rounded-lg rounded-b-none md:h-56 w-full"
							/>
						</div>
						<hr class="border-gray-300" />
						<div class="flex flex-wrap items-center flex-1 px-4 py-1 text-center mx-auto">
							<a class="hover:underline" :href="'/blog/'+counter.data.url">
								<h2 class="text-2xl font-bold tracking-normal font-semibold text-gray-700 hover:underline"
                :href="'/blog/'+counter.data.url">
									{{counter.data?.title}}
								</h2>
							</a>
						</div>
						<hr class="border-gray-300" />
						<p
							class="flex flex-row flex-wrap w-full px-4 py-2 overflow-hidden text-sm text-justify font-semibold text-gray-700 hover:underline"
						>
							{{ counter.data?.description}}
						</p>
						<hr class="border-gray-300" />
						<section class="px-4 py-2 mt-2">
							<div class="flex items-center justify-between">
								<div class="flex items-center flex-1">
									<img
										class="object-cover h-10 rounded-full font-semibold text-gray-700 hover:underline"
										src="/images/logo2.png"
										alt="Avatar"
									/>
									<div class="flex flex-col mx-2">
										<a class="font-semibold text-gray-700 hover:underline">
											{{ counter.data?.author}}
										</a>
										<span class="mx-1 text-xs font-semibold text-gray-700 hover:underline">{{ formatDate(counter.data?.date) }}</span>
									</div>
								</div>
							</div>
						</section>
					</a></div>
			</li>
		</ul>
</div>  <script>
const Blog = {
  data() {
    return {
      counter: []
    }
  },
  methods: {
    formatDate(date) {
      const options = { year: "numeric", month: "long", day: "numeric" };
      return new Date(date).toLocaleDateString("en", options);
    }
  },

async created(){      
  await fetch('/api/blog')
      .then(response => response.json())
      .then(data => {this.counter = data})
      console.log(this.counter)
    }

}

Vue.createApp(Blog).mount('#blog')
</script>